@media (max-width: 1922px) {
  .images {
    width: 55%;
  }
  .show {
    gap: 2rem;
  }
  .show input {
    width: 533px;
    height: 5rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .strength {
    height: 3rem;
    right: 15rem;
  }
  .strength::before {
    font-size: 18px;
  }
  .reset {
    right: 12.5rem;
  }
  .svgReset {
    height: 25px;
    width: 25px;
  }
  .copy {
    font-size: 1.8rem;
  }
  .span {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 2.55rem;
  }
  .passlength {
    border: 2px solid #071d2b;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 20px;
  }
  .tap {
    height: 50px;
    width: 50px;
    border: 2px solid #071d2b;
  }
  .minus::before {
    font-size: 40px;
  }
  .plus::before {
    font-size: 40px;
  }
  input[type="checkbox"] {
    width: 28px;
    height: 28px;
  }
  label {
    font-size: 1.575rem;
  }
  .box img {
    height: 90px;
    width: 90px;
  }
  .box h1 {
    font-size: 1.425rem;
  }
  .box p {
    font-size: 1.195rem;
    line-height: 1.6rem;
  }
}
@media (max-width: 1880px) {
  .strength {
    right: 14rem;
  }
  .reset {
    right: 11.5rem;
  }
  .span{
    line-height: 2.2rem;
  }
}
@media (max-width:1790px){
  .reset{
    right: 11rem;
  }
  .strength{
    right: 13.5rem;
  }
  .span{
    line-height: 2rem;
  }
}
@media(max-width:1750px){
  .show input{
    height: 4.9rem;
  }
  .copy{
    font-size: 1.7rem;
  }
}
@media (max-width:1700px){
  .show input{
    height:4.855rem ;
    font-size: 1.48rem;
  }
  .copy{
    font-size: 1.68rem;
  }
}