@media (max-width: 1922px) {
  .images {
    width: 55%;
  }
  .show {
    gap: 2rem;
  }
  .show input {
    width: 533px;
    height: 5rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .strength {
    height: 3rem;
    right: 15rem;
  }
  .strength::before {
    font-size: 18px;
  }
  .reset {
    right: 12.5rem;
  }
  .svgReset {
    height: 25px;
    width: 25px;
  }
  .copy {
    font-size: 1.8rem;
  }
  .span {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 2.55rem;
  }
  .passlength {
    border: 2px solid #071d2b;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 20px;
  }
  .tap {
    height: 50px;
    width: 50px;
    border: 2px solid #071d2b;
  }
  .minus::before {
    font-size: 40px;
  }
  .plus::before {
    font-size: 40px;
  }
  input[type="checkbox"] {
    width: 28px;
    height: 28px;
  }
  label {
    font-size: 1.575rem;
  }
  .box img {
    height: 90px;
    width: 90px;
  }
  .box h1 {
    font-size: 1.425rem;
  }
  .box p {
    font-size: 1.195rem;
    line-height: 1.6rem;
  }
}
@media (max-width: 1880px) {
  .strength {
    right: 14rem;
  }
  .reset {
    right: 11.5rem;
  }
  .span {
    line-height: 2.2rem;
  }
}
@media (max-width: 1790px) {
  .reset {
    right: 11rem;
  }
  .strength {
    right: 13.5rem;
  }
  .span {
    line-height: 2rem;
  }
}
@media (max-width: 1750px) {
  .show input {
    height: 4.9rem;
  }
  .copy {
    font-size: 1.7rem;
  }
}
@media (max-width: 1700px) {
  .show input {
    height: 4.8rem;
    font-size: 1.48rem;
  }
  .copy {
    font-size: 1.68rem;
  }
  .span {
    font-size: 1.65rem;
  }
  .box p {
    font-size: 1.1rem;
  }
}
@media (max-width: 1650px) {
  .show input {
    height: 4rem;
    font-size: 1.3rem;
  }
  .copy {
    font-size: 1.4rem;
  }
  .box p {
    font-size: 1.01rem;
  }
  .span {
    font-size: 1.6rem;
  }
}
@media (max-width: 1580px) {
  .show input {
    height: 3.5rem;
    font-size: 1.125rem;
    width: 495px;
  }
  .strength {
    height: 2.1rem;
    right: 12.8rem;
  }
  .strength::before {
    font-size: 16px;
  }
  .reset {
    right: 10.2rem;
  }
  .svgReset {
    height: 23px;
    width: 23px;
  }
  .copy {
    font-size: 1.2rem;
  }
  .span {
    font-size: 1.4rem;
    line-height: 2.15rem;
  }
  .tap {
    height: 44px;
    width: 44px;
    border: 1px solid #071d2b;
  }
  .minus::before {
    font-size: 30px;
  }
  .plus::before {
    font-size: 30px;
  }
  .passlength {
    height: 2rem;
    width: 2rem;
    border: 1px solid #071d2b;
    font-size: 17px;
  }
  input[type="checkbox"] {
    width: 24px;
    height: 24px;
  }
  label {
    font-size: 1.375rem;
  }
  .box img {
    height: 80px;
    width: 80px;
  }
  .box h1 {
    font-size: 1.125rem;
  }
  .box p {
    font-size: 0.845rem;
    line-height: 1.4rem;
  }
}
@media (max-width: 1550px) {
  .images {
    width: 45%;
  }
  .show {
    gap: 1rem;
  }
  .show input {
    width: 488px;
    font-size: 1.125rem;
    height: 3rem;
  }
  .strength {
    height: 1.9rem;
    right: 12rem;
  }
  .strength::before {
    font-size: 15px;
  }
  .reset {
    right: 9rem;
  }
  .svgReset {
    height: 22px;
    width: 22px;
  }
  .copy {
    font-size: 1.125rem;
  }
}

@media (max-width: 1450px) {
  .cont {
    gap: 0.5rem;
  }
  .show input {
    width: 480px;
  }
  .strength {
    right: 11.5rem;
  }
}
@media (max-width: 1350px) {
  .show input {
    width: 452px;
    font-size: 1.12rem;
  }
  .strength {
    height: 1.8rem;
    right: 11rem;
    width: 6.2rem;
    border-radius: 11px;
  }
  .strength::before {
    font-size: 14px;
  }
  .copy {
    font-size: 1rem;
  }
  .span {
    font-size: 1.25rem;
    line-height: 2.1rem;
  }
  .tap {
    height: 42px;
    width: 42px;
  }
  #rangeInput {
    width: 230px;
  }
  input[type="checkbox"] {
    width: 22px;
    height: 22px;
  }
  label {
    font-size: 1.3rem;
  }
  .box p {
    font-size: 0.84rem;
    line-height: 1.2rem;
  }
}
@media (max-width: 1300px) {
  .show input {
    padding: 12px 20px;
    width: 425px;
  }
  .copy {
    font-size: 0.95rem;
  }
}
@media (max-width: 1250px) {
  .cont {
    width: 75%;
  }
  .strength {
    right: 12.5rem;
  }
  .reset {
    right: 10.2rem;
  }
  .box {
    width: 30%;
  }
}
@media (max-width: 1200px) {
  h1 {
    font-size: 3.1rem;
  }
  p {
    font-size: 1.1rem;
  }
  .cont {
    width: 77%;
  }
  .images {
    width: 47%;
  }
}
@media (max-width: 1150px) {
  .cont {
    width: 80%;
    gap: 0.65rem;
  }
  .images {
    width: 49%;
  }
  .strength {
    right: 12rem;
  }
  .reset {
    right: 9.5rem;
  }
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }
  label {
    font-size: 1.2rem;
    margin-right: 25px;
  }
  .main2cont > h1 {
    font-size: 2.6rem;
  }
}
@media (max-width: 1100px) {
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.06rem;
  }
  .images {
    width: 50%;
  }
  .show input {
    width: 420px;
    font-size: 1.1rem;
  }
  .strength {
    right: 10.5rem;
  }
  .reset {
    right: 8rem;
  }
  .show {
    gap: 1.35rem;
  }
  .copy {
    font-size: 0.9rem;
    padding: 11px 23px;
  }
  .span {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  .passlength {
    top: 9rem;
    right: 10rem;
  }
  .tap {
    height: 40px;
    width: 40px;
  }
  #rangeInput {
    width: 220px;
  }
  .main2cont {
    width: 75%;
  }
  .boxes {
    gap: 1.5rem;
  }
  .box {
    padding: 1.4rem;
  }
}
@media(max-width:1030px){
  .cont{
    width: 88%;
    gap: 0.5rem;
  }
  .images{
    width: 54%;
  }
}